body {background-color: #f7ea49;}
p {margin-left: 50px;
   letter-spacing: 20px;
   line-height: 175px;
   color: #333333;
   font-weight: Regular;
   font-size: 100px;
   font-family: arial."nanum".sans;}
#menu1 {margin-left: 5px;}
#menu2 {margin-left: 5px;}
#menu3 {margin-left: 5px;}
#menu4 {margin-left: 5px;}
